<div class="menu_section">
    <h3>Основное</h3>
    <ul class="nav side-menu">
        <li><a ui-sref="index"><i class="fa fa-edit"></i> Первая</a></li>
        <li><a ui-sref="sites"><i class="fa fa-edit"></i> Сайты </a></li>
    </ul>
</div>