<div class="panel-group">
    <!-- 1 панель -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title cursor-pointer" ng-click="toggle('#according01')">Основные поля</h4>
        </div>
        <div class="panel-body" id="according01">
            <div class="form-group">
                <label for="name">Название:</label>
                <input type="text" class="form-control" required id="name" ng-model="post.name">
            </div>
            <div class="form-group">
                <label for="name">Slug:</label>
                <input type="text" class="form-control" id="slug" ng-model="post.slug">
            </div>
            <div class="form-group">
                <label for="name">Дата:</label>
                <quick-datepicker ng-model='post.date' icon-class='fa fa-calendar' label-format='dd.MM.yyyy' disable-timepicker="true"></quick-datepicker>
            </div>
            <div class="form-group">
                <label for="name">Категория:</label>
                <select class="form-control" required id="category" ng-model="post.category.id">
                    <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="title">Заголовок:</label>
                <input type="text" class="form-control" required id="title" ng-model="post.title">
            </div>
            <div class="form-group">
                <label for="small">Краткое описание:</label>
                <textarea class="form-control" id="small" ng-model="post.small"></textarea>
            </div>
            <div class="form-group">
                <label for="description">Описание:</label>
                <textarea froala="froalaOptions" class="form-control" id="description" ng-model="post.description"></textarea>
            </div>
        </div>
    </div>
</div>

<div class="panel-group">
    <!-- 1 панель -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title cursor-pointer" ng-click="toggle('#according02')">Мета</h4>
        </div>
        <div class="panel-body display-none" id="according02">
            <div class="form-group">
                <label for="metatitle">Meta Title:</label>
                <textarea class="form-control" id="metatitle" ng-model="post.metatitle"></textarea>
            </div>
            <div class="form-group">
                <label for="metadescription">Meta Description:</label>
                <textarea class="form-control" id="metadescription" ng-model="post.metadescription"></textarea>
            </div>
            <div class="form-group">
                <label for="metakeys">Meta Keys:</label>
                <textarea class="form-control" id="metakeys" ng-model="post.metakeys"></textarea>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="id" ng-model="post.id">