<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph form-add animate fadeInRight">
            <div class="panel panel-info">
                <div class="panel-heading"><h3 class="panel-title">Сайт</h3></div>
                <div class="panel-body">
                    <form class="animate fadeInDown product-form">
                        <div class="panel-body" id="according01">
                            <div class="form-group">
                                <label for="name">Название:</label>
                                <input type="text" class="form-control" required id="name"
                                       ng-model="model.name">
                            </div>
                        </div>
                        <input type="hidden" id="id" ng-model="post.id">
                        <div class="form-group animate bounceInLeft">
                            <button class="btn btn-info" ui-sref="sites">Назад</button>&nbsp;
                            <button class="btn btn-success" ng-click="saveSite()">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Разделы</h3></div>
                <div class="panel-body">

                    <div class="form-group animate bounceInLeft text-right">
                        <button ng-click="formAddSectionIsOpen = !formAddSectionIsOpen" class="btn btn-success btn-sm">
                            <i
                                    class="fa fa-plus"></i>
                            Добавить раздел
                        </button>
                    </div>
                    <br/>
                    <div ng-if="formAddSectionIsOpen">
                        <form class="animate fadeInDown product-form">
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label for="name">Название:</label>
                                            <input type="text" class="form-control" required id="sectionName"
                                                   ng-model="sectionModel.name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group animate bounceInLeft">
                                <button type="button" class="btn btn-info"
                                        ng-click="formAddSectionIsOpen = !formAddSectionIsOpen">Скрыть
                                </button>&nbsp;
                                <button class="btn btn-success" ng-click="saveSection()">Сохранить</button>
                            </div>
                        </form>
                    </div>
                    <div ng-if="gridOptions.data.length">
                        <div grid-data id='grid1' grid-options="gridOptions" grid-actions="gridActions">
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th class="st-sort-disable">Название</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr grid-item>
                                    <td width="80%"><a ui-sref="section({id:id, sid:item.id})" ng-bind="item.name"></a></td>
                                    <td class="text-center">
                                        <button ui-sref="section({id:model.id, sid: item.id})" class="btn btn-primary">
                                            <i
                                                    class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger" ng-click="delete(item.id)"><i
                                                class="fa fa-times"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <br/>
                        <div class="form-group animate bounceInLeft text-right">
                            <button ng-click="formAddSectionIsOpen = !formAddSectionIsOpen"
                                    class="btn btn-success btn-sm"><i
                                    class="fa fa-plus"></i>
                                Добавить раздел
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="!gridOptions.data.length">
                <div class="text-center"><i>Список разделов пуст</i></div>
            </div>
        </div>
    </div>
</div>