<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph form-add animate fadeInRight">
            <div class="row x_title"><h3>Посты</h3></div>
            <div class="form-group animate bounceInLeft text-right">
                <button ui-sref="site" class="btn btn-success btn-sm"><i class="fa fa-plus"></i> Добавить
                </button>
            </div>
            <br/>

            <div grid-data id='grid1' grid-options="gridOptions" grid-actions="gridActions">
                <form class="form-inline pull-right margin-bottom-basic">
                    <div class="form-group">
                        <grid-pagination max-size="10"
                                         boundary-links="true"
                                         class="pagination-sm"
                                         total-items="paginationOptions.totalItems"
                                         ng-model="paginationOptions.currentPage"
                                         ng-change="reloadGrid()"
                                         items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                    </div>
                    <div class="form-group items-per-page">
                        <label for="itemsOnPageSelect2">Items per page:</label>
                        <select id="itemsOnPageSelect2" class="form-control input-sm"
                                ng-init="paginationOptions.itemsPerPage = '10'"
                                ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()">
                            <option>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>75</option>
                        </select>
                    </div>
                </form>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Фото</th>
                        <th class="st-sort-disable">Название</th>
                        <th class="st-sort-disable">Категория</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr grid-item>
                        <td><img ng-if="item.image.file" src="{{publicUrl+item.image.dir+'thumb_'+item.image.file}}" /></td>
                        <td width="30%" ng-bind="item.name"></td>
                        <td width="30%" ng-bind="item.category.name"></td>
                        <td>
                            <button ui-sref="site({id:item.id})" class="btn btn-primary"><i
                                    class="fa fa-pencil"></i></button>
                            <button class="btn btn-danger" ng-click="delete(item.id)"><i class="fa fa-times"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <form class="form-inline pull-right margin-bottom-basic">
                    <div class="form-group">
                        <grid-pagination max-size="15"
                                         boundary-links="true"
                                         class="pagination-sm"
                                         total-items="paginationOptions.totalItems"
                                         ng-model="paginationOptions.currentPage"
                                         ng-change="reloadGrid()"
                                         items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                    </div>
                    <div class="form-group items-per-page">
                        <label for="itemsOnPageSelect2">Items per page:</label>
                        <select id="itemsOnPageSelect2" class="form-control input-sm"
                                ng-init="paginationOptions.itemsPerPage = '10'"
                                ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()">
                            <option>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>75</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="form-group animate bounceInLeft text-right col-xs-12">
                <button ui-sref="site" class="btn btn-success btn-sm"><i class="fa fa-plus"></i>
                    Добавить
                </button>
            </div>
        </div>
    </div>
</div>